* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* privatePage.css */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.privatePage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.boxPrivate {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin-left: 65vh;
}

.boxItems {
    margin-bottom: 20px;
}

.boxItems button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
}

.boxItems button:hover {
    background-color: #0056b3;
}
